
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bitcount+Single:slnt,wght,ELSH@-4,100..900,82.2&family=Gowun+Batang&family=Gugi&family=Merienda:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+Expanded&display=swap');

@import url( "reset.css");
@import url("variables.css");
/* componebts */
@import url("components/status-bar.css");
@import url("components/nav-bar.css");
@import url("components/user-component.css");
@import url("components/badge.css");
@import url("components/icon-row.css");
/* screens */
@import url("screens/login.css");
@import url("components/screen-header.css");
@import url("screens/friends.css");
@import url("screens/find.css");
@import url("screens/more.css");



body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    height: 1000vh;
    color: #2e363e;

    
}
.main-screen {
    padding: 0px var(--horizontal-space);
}

.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}
.welcome-header__title {
     margin-bottom: 40px;
     font-size: 25px;
}
.welcome-header__text {
    width: 60%;
    opacity: 0.7;
}
#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}
#login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    transition: border-color .3s ease-in-out;
}

#login-form input {
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    transition: border-color .3s ease-in-out;
}


#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}
#login-form input:focus {
    border-bottom-color: var(--yellow);
    outline: none;
    

    
}
#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}
#login-form input[type="submit"]{
    background-color:var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
}
.status-bar {
 display: flex; 
 justify-content: center;  
}
.status-bar__column {
    width: 33%;
}
.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column:first-child span {
    margin-right:5px;
}
.status-bar__column .fa-battery-full {
    margin:0px 5px ;

}